.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (min-width: 461px) and (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 601px) and (max-width:900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 460px){
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
